* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 100dvh;
}

.container,
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: #393a3e;
}

.btn {
    font-size: large;
    width: 40px;
    aspect-ratio: 1;
    border-radius: 8px;
    border: 3px solid #eaeaea;
    background-color: #ffffff;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    transition: all ease-in-out 0.2s;
}

.btn:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

.truncated {
    border: none;
    background-color: transparent;
    position: relative;
    cursor: default;
    pointer-events: none;
}

.truncated::after {
    box-sizing: border-box;
    content: "...";
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    font-size: large;
    aspect-ratio: 1;
    border-radius: 10px;
    border: 3px solid #eaeaea;
    background-color: #ffffff;
}

.active {
    background-color: #3f96fd;
    border: 3px #3f96fd solid;
    color: #ffffff;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
    /* max-width: 100px;  */
    margin: 0 auto;
    height: 90%;
    width: 100dvw;
    overflow-y: scroll;
    scrollbar-width: none;
}

.card {
    width: 320px;
    height: 100%;
    overflow-y: scroll;
    border: 2px solid #eaeaea;
    border-radius: 8px;
    padding: 12px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
    scrollbar-width: none;
}

.card::-webkit-scrollbar,
.content::-webkit-scrollbar {
    display: none;
}

.card:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.card-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    max-height: 160px;
    object-fit: cover;
}

.card h2 {
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
    color: #1d1d1d;
}

.card p {
    font-size: 0.9em;
    line-height: 1.4;
}

.card p strong {
    color: #1d1d1d;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: absolute;
    bottom: 20px;
}

@media screen and (max-width: 768px) {
    .card {
        height: 100px;
        width: 95%;
        display: flex;
    }

    .card:hover {
        transform: translateY(0px);
    }

    .card p,
    .card h2 {
        transform: translateX(100px);
        max-width: calc(100% - 100px);
    }

    .card p {
        font-size: 0.9rem;
    }

    .card h2 {
        text-align: start;
    }

    .card-image {
        width: 75px;
        position: absolute;
    }
}
