* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 100dvh;
}

.container, .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: #393a3e;
}

.btn {
    font-size: large;
    width: 40px;
    aspect-ratio: 1;
    border-radius: 8px;
    border: 3px solid #eaeaea;
    background-color: #ffffff;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    transition: all ease-in-out 0.2s;
}

.btn:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

.truncated {
    border: none;
    background-color: transparent;
    position: relative;
    cursor: default;
    pointer-events: none;
}

.truncated::after {
    box-sizing: border-box;
    content: "...";
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    font-size: large;
    aspect-ratio: 1;
    border-radius: 10px;
    border: 3px solid #eaeaea;
    background-color: #ffffff;
}

.active {
    background-color: #3f96fd;
    border: 3px #3f96fd solid;
    color: #ffffff;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
    max-width: 1200px; 
    margin: 0 auto;
    width: 100dvw;
}

.card {
    width: 280px;
    border: 2px solid #eaeaea;
    border-radius: 8px;
    padding: 12px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.card img.card-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    max-height: 160px;
    object-fit: cover;
}

.card h2 {
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
    color: #1d1d1d;
}

.card p {
    font-size: 0.9em;
    line-height: 1.4;
}

.card p strong {
    color: #1d1d1d;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding-bottom: 30px;
}
